$padding-width: 8px;

.meta-table {
  font-size: 0.8rem;
  border-collapse: collapse;
  flex-grow: 1;
}

.meta-table tr {
  height: 1.8rem;
}

.meta-table tr td:first-child {
  text-align: right;
  padding-right: $padding-width;
  border-right: solid 1px #888888;
}

.meta-table tr td:last-child {
  text-align: left;
  padding-left: $padding-width;
  font-family: Menlo, Consolas;
}

.meta-table tr th:first-child {
  text-align: right;
  padding-right: $padding-width;
  border-right: solid 1px #888888;
}

.meta-table tr th:last-child {
  text-align: left;
  padding-left: $padding-width;
}
