.vis-container {
  position: absolute;
  opacity: 0.8;
  top: 96px;
  flex-grow: 1;
  height: 100%;
  z-index: 1000;
}

.vis-panel {
  width: 100%;
  background-color: white;
  border-radius: 4px;
  height: 200px;
  margin: 32px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.vis-panel > * {
  flex-basis: 100px;
}
