.vis-container {
  opacity: 0.9;
  top: 0px;
  z-index: 1000;
  position: absolute;
  padding: 64px;
  padding-top: 128px;
  padding-bottom: 64px;
  width: 100%;
  height: 100%;
}

.vis-panel {
  background-color: white;
  padding: 2rem;
  border-radius: 4px;
  height: 90%;
  overflow-y: scroll;
}

