.chart-container {
  border: solid 1px #999999;
  border-radius: 2px;
}

.plotly-chart {
  width: 100%;
  flex-grow: 1;
  height: 32rem;
}

.plotly-chart-fullscreen {
  position: fixed !important;
  top: 0;
  padding-top: 48px; // For the navbar
  left: 0;
  width: 100vw;
  height: 95vh;
  z-index: 9999;
}
