.layer-basemap {
  z-index: 0;
  flex-grow: 1;
  height: calc(100vh - 64px);
  box-sizing: border-box;
}

.layer-wrapper-insect {
  opacity: 1;
  top: 0px;
  position: absolute;
  padding: 40px;
  flex-grow: 1;
  height: 85vh;
  overflow: hidden;
  pointer-events: none;
}

.layer-content-insect {
  background-color: white;
  border-radius: 4px;
  padding: 1.5rem;
  height: 90%;
  flex-grow: 1;
  overflow-y: auto;
  box-shadow: #666666 0px 0px 5px;
  pointer-events: all;
}

.layer-wrapper-full {
  opacity: 1;
  top: 0px;
  z-index: 1000;
  position: absolute;
  padding: 32px;
  width: 100%;
  height: 100%;
}

.layer-content-full {
  background-color: white;
  padding: 1.5rem;
  border-radius: 4px;
  height: 90%;
  overflow-y: scroll;
  box-shadow: #666666 0px 0px 5px;
}
