
/**
Allow custom leaflet marker icon.
Source: https://stackoverflow.com/a/52131216/10926869
 */
.leaflet-div-icon {
  background: transparent;
  border: none;
}

/**
Workaround for fixing white lines between the tiles.
Source: https://github.com/Leaflet/Leaflet/issues/3575#issuecomment-203821877
 */
.leaflet-tile-container img {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.05);
}

/**
To make the cursor turn info crosshair.
Source: https://stackoverflow.com/questions/14106687/how-do-i-change-the-default-cursor-in-leaflet-maps
 */
.leaflet-container.crosshair-cursor-enabled {
    cursor:crosshair;
}

/**
From leaflet-label
Source: https://github.com/Leaflet/Leaflet.label
 */
.leaflet-label {
	background: rgb(235, 235, 235);
	background: rgba(235, 235, 235, 0.81);
	background-clip: padding-box;
	border-color: #777;
	border-color: rgba(0,0,0,0.25);
	border-radius: 4px;
	border-style: solid;
	border-width: 4px;
	color: #111;
	display: block;
	font: 12px/20px "Helvetica Neue", Arial, Helvetica, sans-serif;
	font-weight: bold;
	padding: 1px 6px;
	position: absolute;
	-webkit-user-select: none;
	   -moz-user-select: none;
	    -ms-user-select: none;
	        user-select: none;
	pointer-events: none;
	white-space: nowrap;
	z-index: 6;
}

.leaflet-label.leaflet-clickable {
	cursor: pointer;
	pointer-events: auto;
}

.leaflet-label:before,
.leaflet-label:after {
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	content: none;
	position: absolute;
	top: 5px;
}

.leaflet-label:before {
	border-right: 6px solid black;
	border-right-color: inherit;
	left: -10px;
}

.leaflet-label:after {
	border-left: 6px solid black;
	border-left-color: inherit;
	right: -10px;
}

.leaflet-label-right:before,
.leaflet-label-left:after {
	content: "";
}

// Visual Query

.hoverLine {
    stroke: #ddd;
    fill: none;
    pointer-events: none;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.tooltip {
    position: absolute;
    display: block;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.6);
    border-radius: 5px;
    color: white;
    pointer-events: none;
    min-width: 140px;
    padding: 5px;
    z-index: 10000;
    line-height: 22px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
}

div .tooltipID {
    display: inline-block;
    display: -moz-inline-block;
    clip-path: circle(40%);
    background: grey;
    margin-right: 5px;
    width: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 12px;
    text-align: center;
}


.map-path {
	transition: all 0.5s;
	border-radius: 4px;
}
